<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
  <%= link_to "Reciper", recipies_path,:class=>"nav-link navbar-brand" %>
   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
       <% if params[:action] == 'index' %>
        <button type="button" class="btn btn-primary" id="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-dismiss="modal" aria-hidden="true" remote=true ">
          Create Recipies
        </button>
        <% end %>
         <% if params[:action] == 'show' %>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Edit
          </button>
          <% end %>
        <li class="nav-item">
          <%= link_to "Ingredients", ingredients_path,:class=>"nav-link" %>
        </li> 
        <li class="nav-item">
         <%= link_to "New Ingredient", new_ingredient_path,:class=>"nav-link" %>
        </li>
      </ul>
    </div>  
  </div>
</nav>
